@charset 'utf-8';

// ----- 공용 클래스 -----

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #050505;
  cursor: default;
}

section {
  max-width: 1920px;
  height: 100px;
  margin: 0 auto;
}

.hidden {
  text-indent: -9999em;
}

// ----- 전체 랩 -----

.all-wrap {
  position: absolute;
  top: 0;
  left: 0;
}

// ----- 메인 영역 -----

#top-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .main-area {
    width: 100%;
    height: 5500px;

    //메인 동영상
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }

    // 텍스트 블렌드
    .main-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #050505;
      mix-blend-mode: darken; // 배경과 텍스트 블렌드
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      line-height: 100vh;
      font-size: 22vw;
      font-weight: 900;
      letter-spacing: -0.06em;
      overflow: hidden;
      z-index: 99;
    }

    .title1 {
      opacity: 1;
    }

    // bathbomb텍스트
    .title2 {
      opacity: 0;
      mix-blend-mode: screen;
      font-size: 15vw;
    }
  }
}

// ----- 인트로 영역 -----

#mid-wrap {
  position: fixed;
  width: 100%;
  height: 100%;

  .intro-area {
    position: relative;
    overflow: hidden;
    color: #fff;
    height: 2363px;
    z-index: 0;

    // 애니메이션 동작되는 엘리먼트
    .title-box-wrap {
      padding-top: 60px;
      float: left;
      white-space: nowrap;
      -webkit-animation: textAni 50s linear infinite; // 구글, 사파리
      -moz-animation: textAni 50s linear infinite; // 파이어폭스
      animation: textAni 50s linear infinite;
    }

    // 텍스트 가로 루프 애니메이션
    @-webkit-keyframes textAni {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-100%)
      }
    }

    @-moz-keyframes textAni {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-100%)
      }
    }

    @keyframes textAni {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-100%)
      }
    }

    // 텍스트 로우 정렬
    .title-box {
      font-size: 86px;
      font-weight: 900;
      display: inline-block; //로우로 정렬

      // 채워진 애니메이션 텍스트
      .intro-title {
        float: left;
        margin-left: 30px;
      }

      // 아웃라인 애니메이션 텍스트
      .intro-title2 {
        color: #050505;
        float: left;
        margin-left: 30px;
        // 아웃라인 생성
        text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
      }
    }

    // 이미지, 텍스트 애니메이션 구간
    .animation-wrap {
      position: relative;
      top: 262px;
      width: 100%;
      height: 100%;

      // 이미지 스케일시 크기 고정
      .img-box {
        position: relative;
        width: 733px;
        height: 502px;
        overflow: hidden;
        float: left;

        // 이미지 애니메이션 효과를 위한 랩
        .img-effect-wrap {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
        }

        // 왼쪽 큰 이미지
        .intro-img {
          width: 733px;
          opacity: 0;
          transform: scale(1.3);
          -webkit-transition: all 1.5s ease-in-out;
          transition: all 1.5s ease-in-out;
          z-index: -1;
        }

        .intro-img.active {
          opacity: 1;
          transform: scale(1.2);
        }
      }

      // 왼쪽 이미지와 겹쳐진 타이틀
      .sub-title {
        position: absolute;
        top: 182px;
        left: 930px;
        font-size: 92px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: -0.04em;
        opacity: 0.1;
      }

      .right-area {
        position: absolute;
        top: 364px;
        left: 896px;
        width: 876px;

        // 인트로 소개글
        .text-box {
          position: relative;
          letter-spacing: -0.02em;
          word-break: keep-all;
          text-align: right;
          float: left;
          font-weight: 400;
          font-family: 'Noto Sans KR', sans-serif;
          line-height: 1.6;
          text-align: left;
          opacity: 0.1;
          left: 50px;

          .sub-title2 {
            padding-bottom: 30px;
            white-space: nowrap;
            font-size: 36px;
            font-weight: 600;
          }

          .sub {
            font-size: 24px;
            font-weight: 300;
            width: 543px;
          }
        }

        // 중간 겹쳐진 이미지
        .intro-img-wrap {
          position: absolute;
          top: 450px;
          width: 438px;
          height: 248px;

          // 이미지 스케일시 크기 고정
          .img-box2 {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            float: left;

            .img-effect-wrap2 {
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
            }

            .intro-img2 {
              width: 438px;
              opacity: 0;
              transform: scale(1.2);
              -webkit-transition: all 1s ease-in-out;
              transition: all 1s ease-in-out;
              z-index: -1;
            }

            .intro-img2.active {
              opacity: 1;
              transform: scale(1);
            }
          }

          // 이미지 스케일시 크기 고정
          .img-box3 {
            position: absolute;
            bottom: 0;
            left: 408px;
            width: 438px;
            height: 138px;
            overflow: hidden;

            .intro-img3 {
              width: 438px;
              object-fit: contain;
              transform: scale(1.2);
              opacity: 0.2;
              -webkit-transition: all 1s ease-in-out;
              transition: all 1s ease-in-out;
            }

            .intro-img3.active {
              transform: scale(1);
              opacity: 1;
            }
          }
        }
      }
    }

    // 하단 이미지 영역
    .bottom-area {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 468px;

      .bottom-img-title {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 84px;
        font-weight: 900;
        z-index: 50;
        opacity: 0;
      }

      .img-box4 {
        position: relative;
        left: 0;
        width: 1024px;
        height: 459px;
        object-fit: contain;
        overflow: hidden;
      }

      .intro-img4 {
        width: 1024px;
        opacity: 0;
        transform: scale(1.2);
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        z-index: -1;
      }

      .intro-img4.active {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

// ----- 슬라이드 -----

#bottom-wrap {
  position: fixed;
  width: 100%;
  height: 100%;

  // 슬라이드 배경
  .slide-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #050505;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;

    // 슬라이드 컨테이너
    #slide-container {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;

      .slide-wrap {
        position: absolute;
        width: 100%;
        height: 100vh;
      }

      // 슬라이드 1 ~ 7까지 공유
      .slide {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        z-index: 50;

        .item-wrap {
          position: absolute;
          width: 1200px;
          height: 100%;
          margin: 0 auto;
        }

        // 제품 설명 텍스트
        .info-text-area {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          width: 50%;
          float: left;
          z-index: 50;
          left: -100px;
          opacity: 0;
          -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;

          .name {
            white-space: nowrap;
            color: #fff;
            font-size: 86px;
            font-weight: 600;
            text-transform: uppercase;
            float: left;
          }

          .ingredient {
            font-size: 22px;
            color: #fff;
            font-weight: 500;
            float: left;
            margin-top: 20px;
          }

          .item-sub {
            margin-top: 20px;
            word-break: keep-all;
            line-height: 1.5;
            color: #fff;
            font-size: 20px;
            float: left;
          }
        }

        // 제품 이미지
        .item-area {
          position: relative;
          top: 35%;
          left: 50%;
          width: 50%;

          .item-img {
            position: absolute;
            top: -90px;
            left: 600px;
            opacity: 0;
            -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            width: 484px;
            float: left;
            z-index: 10;
          }

          .item-bg {
            position: absolute;
            left: 200px;
            opacity: 0;
            -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            width: 442px;
            float: left;
          }
        }
      }

      // 슬라이드 네비게이션
      .slide-navi a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        z-index: 50;
        text-indent: -9999em;
        -webkit-transition: all .4s;
        transition: all .4s;
        width: 52px;
        height: 52px;
      }

      .slide-navi a.disabled {
        display: none;
      }

      // 이전, 다음 버튼
      .prev {
        background: url(../image/prev_btn.png) no-repeat;
        background-size: contain;
        margin-left: -752px;
      }

      .prev:hover {
        background: url(../image/prev_btn_hover.png) no-repeat;
        background-size: contain;
      }

      .next {
        background: url(../image/next_btn.png) no-repeat;
        background-size: contain;
        margin-left: 680px;
      }

      .next:hover {
        background: url(../image/next_btn_hover.png) no-repeat;
        background-size: contain;
      }

      // 슬라이드 페이저
      .pager {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 50;
        display: -webkit-box;
        display: flex;

        a {
          margin-left: 20px;
          display: block;
          -webkit-transition: all .4s;
          transition: all .4s;
          text-indent: -9999em;
          opacity: 0;
        }

        a img {
          width: 92px;
        }

        // 기본 버튼
        .pager1 {
          width: 92px;
          height: 92px;
          background: url(../image/bath1_g.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager2 {
          width: 92px;
          height: 92px;
          background: url(../image/bath2_g.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager3 {
          width: 92px;
          height: 92px;
          background: url(../image/bath3_g.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager4 {
          width: 92px;
          height: 92px;
          background: url(../image/bath4_g.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager5 {
          width: 92px;
          height: 92px;
          background: url(../image/bath5_g.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager6 {
          width: 92px;
          height: 92px;
          background: url(../image/bath6_g.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager7 {
          width: 92px;
          height: 92px;
          background: url(../image/bath7_g.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        // 현재 선택된 버튼
        .pager1.on {
          width: 92px;
          height: 92px;
          background: url(../image/bath1.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager2.on {
          width: 92px;
          height: 92px;
          background: url(../image/bath2.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager3.on {
          width: 92px;
          height: 92px;
          background: url(../image/bath3.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager4.on {
          width: 92px;
          height: 92px;
          background: url(../image/bath4.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager5.on {
          width: 92px;
          height: 92px;
          background: url(../image/bath5.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager6.on {
          width: 92px;
          height: 92px;
          background: url(../image/bath6.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager7.on {
          width: 92px;
          height: 92px;
          background: url(../image/bath7.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        // 호버 버튼
        .pager1:hover {
          width: 92px;
          background: url(../image/bath1.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager2:hover {
          width: 92px;
          background: url(../image/bath2.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager3:hover {
          width: 92px;
          background: url(../image/bath3.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager4:hover {
          width: 92px;
          background: url(../image/bath4.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager5:hover {
          width: 92px;
          background: url(../image/bath5.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager6:hover {
          width: 92px;
          background: url(../image/bath6.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }

        .pager7:hover {
          width: 92px;
          background: url(../image/bath7.png) no-repeat;
          background-size: contain;
          z-index: 99;
        }
      }
    }
  }
}

// ----- 탑 버튼 -----

#top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 56px;
  height: 56px;
  background: #fff;
  border-radius: 100%;
  font-weight: 600;
  z-index: 50;
  display: none;
}

#top-btn.active {
  display: block;
}

// 버튼 텍스트
#top-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ----- 모달 -----

#modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  opacity: 0;

  .modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    padding: 60px 50px;
    background: #fff;
    z-index: 100;
    background: url(../image/modal_bg.jpg) no-repeat;
    background-size: cover;

    .modal-title {
      font-size: 22px;
      font-weight: 600;
      text-align: center;
    }

    .modal-content {
      margin-top: 50px;
      text-align: center;
      line-height: 2;
    }

    .modal-content span {
      position: relative;
      color: #fff;
    }

    // 텍스트 강조 배경 라인
    .modal-content span::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 110%;
      background: #303030;
      z-index: -1;
    }

    // 닫기 버튼
    .close {
      cursor: pointer;
      padding: 6px 20px;
      background: #050505;
      color: white;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      font-weight: 600;
      border: none;
    }
  }
}